#editor {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 30% 70%;
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: #112;
  color: white;
  padding-left: 1em;
  overflow-y: scroll;
}

#textinputs {
  display: grid;
  width: 100%;
  grid-gap: 0.4em;
  grid-template-columns: repeat(3, 1fr);
}

#textinputs > input {
  width: inherit;
}

#link {
  line-break: anywhere;
}

#repo {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
  position: fixed;
  z-index: 1000000000;
  background-color: #0008;
  padding: 0.1em 0 0 0.5em;
  right: 0;
}