#signature {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
  position: fixed;
  z-index: 1000000000;
  background-color: #0008;
  padding: 0.1em 0 0 0.5em;
  border-radius: 0.3em 0 0 0;
  bottom: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#signature::before {
  content: 'Made with ❤️ by Kinami Imai 今井きなみ';
}
