body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#display {
  display: grid;
  grid-template-columns: repeat(3, 33.333333%);
  grid-template-rows: repeat(3, 33.333333%);
  height: 100%;
  width: 100%;
  position: fixed;
  background: black;
  overflow: hidden;
}

#display > img {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  justify-self: center;
}

#display > .text {
  justify-self: center;
  align-self: center;
  line-break: anywhere;
  font-size: 5em;
  overflow: hidden;
}

.bordered {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
}

#link_to_editor {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 0.03em black;
  position: fixed;
  z-index: 1000000000;
  background-color: #0008;
  padding: 0.1em 0 0 0.5em;
  right: 0;
}
